<nav>

	<img class="logo" src="{{site.baseurl}}/img/wikia-logo.png" alt="wikia logo"/>

	<ul class="nav nav-primary">
		<li><a class="{% if page.url == '/' %}active{% endif %}">Home</a></li>
		{% for parent in site.categories.main %}
		<li><a>{{ parent.title }}</a>
			<ul class="nav nav-secondary dropdown">
				{% for post in site.categories.[parent.subcategory] %}
				<li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</nav>


