<nav>
	<img class="logo" src="{{site.baseurl}}/img/wikia-logo.png" alt="wikia logo"/>

	<ul class="nav nav-primary">
		<li class="{% if page.url == '/index.html' %}active{% endif %}">
			<a href="{{site.baseurl}}/">Home</a>
		</li>
		{% for parent in site.categories.main %}
		<li class="{% if page.url contains parent.permalink %}active{% endif %}">
			<a>{{ parent.title }}</a>
			<ul class="nav nav-secondary dropdown">
				{% for post in site.categories.[parent.subcategory] %}
				<li><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
</nav>
