/* Style menu */
/* colors */
/* line 3, ../_sass/nav.scss */
.nav-top {
  border-right: 1px solid #f0f0f0;
  width: 320px;
  position: fixed;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  text-align: center;
}
/* line 12, ../_sass/nav.scss */
.nav-top .logo {
  display: inline-block;
  padding-bottom: 60px;
  padding-top: 60px;
}
/* line 18, ../_sass/nav.scss */
.nav-top ul {
  list-style: none;
  text-align: left;
}
/* line 22, ../_sass/nav.scss */
.nav-top ul li {
  list-style-type: none;
}
/* line 24, ../_sass/nav.scss */
.nav-top ul li ul {
  margin-left: 0;
}
/* line 30, ../_sass/nav.scss */
.nav-top .nav-primary {
  border-top: 1px solid #f0f0f0;
  margin-left: 0;
  padding-left: 0;
}
/* line 36, ../_sass/nav.scss */
.nav-top .dropdown {
  display: none;
}
/* line 40, ../_sass/nav.scss */
.nav-top a {
  border-bottom: 1px solid #f0f0f0;
  color: #808080;
  display: block;
  padding: 20px 0 20px 20px;
  text-decoration: none;
}
/* line 47, ../_sass/nav.scss */
.nav-top a:hover {
  color: #808080;
}
/* line 53, ../_sass/nav.scss */
.nav-top .item-primary:hover {
  background-color: #0a5fa3;
  color: #ffffff;
}
/* line 59, ../_sass/nav.scss */
.nav-top .item-secondary {
  background-color: #ebebeb;
}
/* line 62, ../_sass/nav.scss */
.nav-top .item-secondary:hover {
  background-color: #cecece;
}
/* line 67, ../_sass/nav.scss */
.nav-top .item-tertiary {
  padding-left: 35px;
}
/* line 70, ../_sass/nav.scss */
.nav-top .item-tertiary:hover {
  background-color: #ebebeb;
}
/* line 76, ../_sass/nav.scss */
.nav-top .active > .item-primary {
  background-color: #0a5fa3;
  color: #ffffff;
  font-weight: bold;
}
/* line 81, ../_sass/nav.scss */
.nav-top .active > .item-secondary {
  background-color: #ebebeb;
  font-weight: bold;
}
/* line 85, ../_sass/nav.scss */
.nav-top .active > .item-tertiary {
  color: #0a5fa3;
  font-weight: bold;
}
/* line 88, ../_sass/nav.scss */
.nav-top .active > .item-tertiary:hover {
  background-color: transparent;
}

/* line 95, ../_sass/nav.scss */
.active a + .dropdown {
  display: block;
}

/* section nav */
/* line 101, ../_sass/nav.scss */
.nav-section a {
  border-bottom: 1px solid #fff;
  color: #808080;
  display: inline-block;
  padding: 10px 20px;
}
/* line 106, ../_sass/nav.scss */
.nav-section a:hover {
  border-bottom: 1px solid #808080;
  color: #0a5fa3;
}
/* line 111, ../_sass/nav.scss */
.nav-section ul {
  margin: 0;
}
/* line 114, ../_sass/nav.scss */
.nav-section li {
  display: inline-block;
}
