.color-content {
	h3 {
		clear: both;
		margin-bottom: 55px;
	}
}

.color-box {
	float: left;
	margin: 0 45px 40px 5px;
	text-align: center;
	width: 120px;

	h5 {
		margin: 0 0 7px;
	}
}

.color-probe {
	border-radius: 120px;
	height: 120px;
	margin-bottom: 27px;
	position: relative;
	width: 120px;

	&:hover {
		border: 1px solid $walterWhiteColor;
		background: url("{{site.baseurl}}/img/copy-icon.png") #fff no-repeat 50% 30%;
		&::after {
			color: $primaryColor;
			content: "Copy color value";
			left: 0;
			line-height: 1.2em;
			padding-top: 50px;
			padding: 60px 15px 0 15px;
			position: absolute;
			text-align: center;
			top: 0;
		}
	}
}

.mordor-bg-color {
	background-color: $mordorColor;
}

.dark-knight-bg-color {
	background-color: $darkKnightColor;
}

.cool-blue-bg-color {
	background-color: $coolBlueColor;
}

.walter-white-bg-color {
	background-color: $walterWhiteColor;
}

.winterfell-bg-color {
	background-color: $winterfellColor;
	border: 1px solid $walterWhiteColor;
}
