/* Style homepage */

.header-home {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-left: $menuwidth;
	min-height: 100%;
	text-align: center;

	h1 {
		color: #fff;
		font-weight: bold;
	}

	h2 {
		color: #fff;
	}
}

.content-home {
	background-color: #fff;
	padding: 40px 0;
}